@media screen and (min-width:600px){

    #flexm {
        display: flex;
        flex-direction:row-reverse;
        justify-content:space-between;
        background-color: aquamarine;
    }

}
  


@media screen and (max-width:600px){

    #flexm{
        background-color: black;
        background-size: cover;
        width: 10vw;
        height: 1vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: black;
        transition: all 2s;
    }

   #flexm:hover { 
    color: white;
    width: 20vw;
    height: 15vh;       
        
    }

}
    
